#sketch {
    border: 2px solid black;
    width: 500px;
    height: 500px;

    margin: auto;
}

h1 {
    text-align: center;
}

#clear {
    display: block;
    margin: auto;
}

.field {
    display: inline-block;
}

.field:hover {
    background-color: black;
}

#gridSize {
    display: block;
    margin: auto;
} 

p {
    text-align: center;
}