* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Combo', cursive;
}

.center-text {
    text-align: center;
}

.h1 {
    font-size: 6rem;
}

.main-content {
    background-color: #D6EFED;
    color: #2B4865;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

img {
    width: 40%;
}

a:any-link {
    text-decoration: none;
}